%footer.container
  %section.news
    .row
      .span4
        %h3 Upcoming Events
        = "No upcoming events" if @upcoming_events.empty?
        %ul
          - @upcoming_events[1..4].each do |event|
            %li
              %h5= event.date
              %p= event.title
              
      .span4
        %h3 From our Baywatch Blog
        %ul
          %li= link_to "Angel Dinner Call for Video Submissions", "#"
          %li= link_to "Breakfast with Deena Shift", "#"
          %li= link_to "Focus Dinner with Michael Malone, iiNET", "#"
          %li= link_to "Angel Dinner Update", "#"
          %li= link_to "Great Night with David Kirk", "#"
          %li= link_to "Scottish Burns Supper", "#"
          %li= link_to "Focus Dinner with David Kirk, Ballador", "#"
          %li= link_to "Breakfast Wrap-up", "#"
          %li= link_to "Great Night at Focus Dinner", "#"

      .span4
        %h3 Twitter Conversations
        .tweet

    .row
      .span4
        = link_to "More", events_path
      .span4
        = link_to "More", blog_path
      .span4
        = link_to "More", twitter_path

  %section
    .row
      .span8
        %h3 Our Sponsors
        .row-fluid
          .span3
            = link_to image_tag("sponsors/deloitte.png", :alt => "Deloitte"), sponsor_path("deloitte"), :target => "_blank"
          .span3
            = link_to image_tag("sponsors/ninefold.png", :alt => "Ninefold"), sponsor_path("ninefold"), :target => "_blank"
          .span3
            = link_to image_tag("sponsors/your-company.png", :alt => "Your Company?"), "#", :target => "_blank"
          .span3
            = link_to image_tag("sponsors/your-company.png", :alt => "Your Company?"), "#", :target => "_blank"
      %nav.span4
        %h3 Innovation Bay
        .row
          .span2
            %ul
              = navigation_item "How It Works", how_it_works_path, "first"
              = navigation_item "Member Events", events_path
              = navigation_item "Angels", angels_path
              = navigation_item "Entrepreneurs", entrepreneurs_path
              = navigation_item "Membership", membership_path("")
          .span2
            %ul
              = navigation_item "BayWatch", blog_path  
              = navigation_item "Who we are", about_path          
              %li= mail_to "info@innovationbay.com", "Contact Us"
              = navigation_item "Be a Sponsor", become_sponsor_path
              = navigation_item "The Small Print", tcs_path
        .row
          %hr
          .span2
            Hosting &ndash;
            = link_to "Ninefold", sponsor_path("ninefold"), :target => "_blank"
          .span2
            Website &ndash;
            = link_to "Involved", "http://www.involved.com.au", :target => "_blank"