!!! 5
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head
    %meta{ :charset => "utf-8" }/
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
    %meta{ :name => "robots", :content => "index, follow" }/
    %meta{ :name => "keywords", :content => "" }/
    %meta{ :name => "viewport", :content => "width=device-width, maximum-scale=1.0" }/
    = favicon_tag "/images/common/favicon.ico"

    = stylesheet_link_tag "screen.css"

    %title= h(content_for?(:title) ? yield_content(:title) : "Title name here")

    = javascript_include_tag "vendor/modernizr-2.5.3.min"
    = javascript_include_tag "http://www.google.com/jsapi"
      
    :javascript
      google.load("webfont", "1.0.19");

    %script{ :type => "text/javascript"} 
      =# "WebFont.load({ custom: {families: ['DINLightRegular', 'DINMediumRegular', 'DINBlackRegular'], urls: ['" + asset_url('stylesheets/fonts.css') + "']}});"


  %body{:class => content_for?(:body_class) ? yield_content(:body_class) : ""}
    .wrapper
      .outter-container
        = partial "shared/header"
        - if is_home?
          - # Do something here
  
        .content
          = yield

        = partial "shared/footer"

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    = partial("shared/google-analytics", :locals => { :id => "UA-xxxx-xxxx-xx" })